/*@import url("nightbg.css");*/

* {
  margin:0;
  padding:0;
}
html, body, main {
  height:100%;
  min-height:100%;
}
canvas {
  /*background: #212944;
  background: -moz-radial-gradient(center, ellipse cover, #212944 0%, #141f44 33%, #02001e 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #212944), color-stop(33%, #141f44), color-stop(100%, #02001e));
  background: -webkit-radial-gradient(center, ellipse cover, #212944 0%, #141f44 33%, #02001e 100%);
  background: -o-radial-gradient(center, ellipse cover, #212944 0%, #141f44 33%, #02001e 100%);
  background: -ms-radial-gradient(center, ellipse cover, #212944 0%, #141f44 33%, #02001e 100%);
  background: radial-gradient(ellipse at center, #212944 0%, #141f44 33%, #02001e 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#212944', endColorstr='#02001e', GradientType=1);*/
  background: transparent;
  position: absolute;
  top: 0px;
	left: 0px;
  margin:0;
}
